<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <form action="/<%= as %>/login" method="POST">
        <label for="username">Username</label><br>
        <input name="username" id="username"><br>
        <label for="password">Password</label><br>
        <input name="password" id="password" type="password"><br>
        <button>Sign in</button>
        <button><a href="/">Cancel</a></button>
    </form>
</body>
</html>