<nav>
    <div>
        <a href="/admin/">Home</a>
    </div>
    <div>
        <a href="/admin/interview">Interview</a>
    </div>
    <div>
        <a href="/admin/applicant">Applicant</a>
    </div>
    <div>
        <a href="/admin/logout">Log out</a>
    </div>
</nav>