<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="/apply" method="POST">
        <h1>Apply</h1>
        Name <br>
        <input name="name"><br>
        Age <br>
        <input name="age" type="number"><br>
        Departement you want to be in <br>
        <input name="departement"><br>
        Position you wished to be in this company <br>
        <textarea name="position"></textarea><br>
        The salary you deserved to get <br>
        <input name="requested_salary" type="number"><br>
        E-mail<br>
        <input name="email" type="email"><br>
        <button>Create</button>
        <button><a href="/apply">Cancel</a></button>
    </form>
</body>
</html>